### Create Albums

In [1]:
from sturdy_barnacle.db_utils import DatabaseManager
from sturdy_barnacle.image_album_manager import ImageAlbumManager
from sturdy_barnacle.image_visualizer import ImageVisualizer

In [2]:
db = DatabaseManager()
album_manager = ImageAlbumManager(db)
visualizer = ImageVisualizer(db)

album_manager.group_images_into_albums()

Tables cleared successfully! Ready for a new clustering experiment.

/Users/mamduhzabidi/Documents/GitHub/sturdy-barnacle/myenv/lib/python3.11/site-packages/sklearn/utils/deprecation.py:151: FutureWarning: 'force_all_finite' was renamed to 'ensure_all_finite' in 1.6 and will be removed in 1.8.
  warnings.warn(
/Users/mamduhzabidi/Documents/GitHub/sturdy-barnacle/myenv/lib/python3.11/site-packages/sklearn/utils/deprecation.py:151: FutureWarning: 'force_all_finite' was renamed to 'ensure_all_finite' in 1.6 and will be removed in 1.8.
  warnings.warn(

Albums created successfully using t-SNE + HDBSCAN!

    album_id album_name  num_images
1          2    Album 2         216
24        25   Album 25         125
42        43   Album 43          75
44        45   Album 45          73
17        18   Album 18          72
16        17   Album 17          55
23        24   Album 24          51
29        30   Album 30          51
40        41   Album 41          50
14        15   Album 15          43
5          6    Album 6          41
20        21   Album 21          39
12        13   Album 13          37
10        11   Album 11          34
22        23   Album 23          33
38        39   Album 39          31
41        42   Album 42          30
18        19   Album 19          29
6          7    Album 7          26
43        44   Album 44          26
32        33   Album 33          23
25        26   Album 26          22
39        40   Album 40          21
19        20   Album 20          21
37        38   Album 38          21
11        12   Album 12          20
21        22   Album 22          19
8          9    Album 9          18
7          8    Album 8          18
33        34   Album 34          18
15        16   Album 16          16
27        28   Album 28          16
31        32   Album 32          16
36        37   Album 37          16
34        35   Album 35          15
26        27   Album 27          14
13        14   Album 14          14
45        46   Album 46          14
0          1    Album 1          13
2          3    Album 3          13
30        31   Album 31          12
28        29   Album 29          12
9         10   Album 10          12
35        36   Album 36          10
4          5    Album 5          10
3          4    Album 4          10
46        47   Album 47          10

In [6]:
results = db.get_album_images(album_id=0)
for image in results:
    visualizer.visualize_image_metadata(image)